<html>
    <head>
        <style>
            .black-cell {
                background-color: dimgrey;
            }

            .white-cell {
                background-color: beige;
            }

            .board-row {
                float: left;
                width: 100%
            }

            .board-cell {
                width: 50px;
                height: 50px;
                float: left;
            }

            .checker {
                border: 15px solid;
                margin: 20% 20% 20% 20%;
                position: inherit;
                border-radius: 50%;
            }

            .black-checker {
                border-color: black;
            }

            .white-checker {
                border-color: aliceblue;
            }

            .content {
                margin-left: 20%;
            }

            .active-checker:hover {
                cursor: pointer;
            }

            .movable-cell:hover {
                cursor: pointer;
            }

            .movable-cell {
                background-color: goldenrod;
            }

            #selected-checker {
                background-color: gold;
            }
        </style>

        <script>
            // constants / variables to enable gameplay
            const matchId = '<%=matchId %>';
            const player = '<%=player %>';
            let selectedCheckerCoordinates = null;
            let currentTurn = null;

            /** Makes the id of a cell by its coordinates */
            function cellId(
                xAxis,
                yAxis
            ) {
                return `cell-${xAxis}-${yAxis}`;
            }

            /**
             * Creates the checkers board, then fills it.
             */
            function drawCheckersBoard() {
                const checkerBoard = document.getElementById('checkers-board');
                const boardSize = 10;

                for (let yAxis = 0;
                    yAxis < boardSize;
                    yAxis++) {
                    const boardRow = document.createElement('div');
                    boardRow.className = 'board-row';

                    for (let xAxis = 0;
                        xAxis < boardSize;
                        xAxis++) {
                        const color = (xAxis + yAxis) % 2 === 0 ? 'black-cell' : 'white-cell';

                        const boardCell = document.createElement('div');
                        boardCell.className = `board-cell ${color}`;
                        boardCell.id = cellId(xAxis, yAxis);

                        boardRow.appendChild(boardCell);
                    }

                    checkerBoard.appendChild(boardRow)
                }

                fillBoard()
            }

            /**
             * Goes to the BE and fetches the game data.
             * Then it fills the board with the checkers, adding the gameplay in the middle.
             */
            function fillBoard() {
                fetch(`/apis/matches/${matchId}`, {
                    method: 'GET'
                }).then(function(response) {
                    if(response.ok) {
                        response.json().then(data => {
                            // checkers, currentTurn, winner
                            currentTurn = data.currentTurn;

                            addCheckers(data.checkers, data.currentTurn);
                            showText(data.winner, data.currentTurn);

                            // it's too late to think about a good way to do this
                            if (currentTurn !== 'spectator' &&
                                currentTurn !== player
                            ) {
                                startPolling();
                            }
                        })
                    } else {
                        // error?
                    }
                });
            }

            /** Chooses and places a text above the board. */
            function showText(
                winner,
                currentTurn
            ) {
                if (winner) {
                    if (winner === player) {
                        setText('Ganaste!');
                    } else {
                        setText('Ganador el jugador de: ' + winner);
                    }
                } else{
                    if (currentTurn === player) {
                        setText('Tu turno!');
                    } else {
                        setText('Turno del jugador ' + currentTurn);
                    }
                }
            }

            /** Sets the text above the board. */
            function setText(text) {
                document.getElementById('turn-text').innerText = text
            }

            /**
             * Fills the board with checkers.
             * For current player, the checkers are going to be able to be selected.
             * Those checkers gain an onclick function to make a move.
             */
            function addCheckers(
                checkers,
                currentTurn
            ) {
                //color, xPosition, yPosition
                checkers.forEach(checker => {
                    const cell = document.getElementById(cellId(checker.xPosition, checker.yPosition));

                    const checkerTag = document.createElement('div');
                    checkerTag.className = `checker ${checker.color}-checker`;
                    if (checker.color === currentTurn && currentTurn === player) {
                        checkerTag.className += ' active-checker';
                        checkerTag.onclick = function() { selectChecker(checker, cell) };
                    }

                    cell.appendChild(checkerTag);
                    cell.className += ' has-checker';
                })
            }

            /**
             * This function is called when the checker is selected.
             * Enables that checker's movement, highlighting its possible movements.
             * Nice to have: select checker again to reset the checker.
             */
            function selectChecker(
                checker,
                cell
            ) {
                resetSelectedChecker();
                cell.id = 'selected-checker';
                selectedCheckerCoordinates = [checker.xPosition, checker.yPosition];

                const upRightVariance = [1, -1];
                const upLeftVariance = [-1, -1];
                const downRightVariance = [1, 1];
                const downLeftVariance = [-1, 1];

                showMovements(selectedCheckerCoordinates, upRightVariance, checker.color);
                showMovements(selectedCheckerCoordinates, upLeftVariance, checker.color);
                showMovements(selectedCheckerCoordinates, downRightVariance, checker.color);
                showMovements(selectedCheckerCoordinates, downLeftVariance, checker.color);
            }

            /** Turns back the selection of the checker */
            function resetSelectedChecker() {
                // doesn't work without the Array wrapper...
                for (let cell of Array.from(document.getElementsByClassName('movable-cell'))) {
                    cell.className = 'board-cell black-cell';
                    cell.onclick = null;
                }
                const selectedChecker = document.getElementById('selected-checker');
                if (selectedChecker) {
                    selectedChecker.id = null;
                }
            }

            /** Show the possible movements of the checker */
            function showMovements(
                currentCoordinates,
                variance,
                checkerColor
            ) {
                const xAxis = currentCoordinates[0] + variance[0];
                const yAxis = currentCoordinates[1] + variance[1];

                const targetCell = document.getElementById(cellId(xAxis, yAxis));

                // if target cell exists (i'm not outside of the board)
                // and not contains a checker with same color
                // then we paint/continue painting
                if (targetCell && !containsChecker(targetCell, checkerColor)) {

                    // we can move here if there's not a checker
                    if (!targetCell.hasChildNodes()) {
                        targetCell.className = 'board-cell movable-cell';
                        targetCell.onclick = function() { moveChecker(xAxis, yAxis) };
                    }

                    // continue the iteration
                    showMovements([xAxis, yAxis], variance, checkerColor);
                }
            }

            /** Checks if the cell contains a checker inside */
            function containsChecker(
                targetCell,
                checkerColor
            ) {
                return targetCell.hasChildNodes() && targetCell.firstElementChild.getAttribute('class').includes(checkerColor)
            }

            /** Moves the checker to the specified coordinates */
            function moveChecker(
                xAxisTo,
                yAxisTo
            ) {
                const body = {
                    "xAxisFrom": selectedCheckerCoordinates[0],
                    "yAxisFrom": selectedCheckerCoordinates[1],
                    "xAxisTo": xAxisTo,
                    "yAxisTo": yAxisTo
                };

                fetch(`/apis/matches/${matchId}`, {
                    method: 'PUT',
                    body: JSON.stringify(body),
                    headers:{
                        'Content-Type': 'application/json'
                    }
                }).then(function(response) {
                    if(response.ok) {
                        location.reload()
                    } else {
                        // error ?
                    }
                })
            }


            /**
             * Starts polling the BE for turn change.
             * The poll is set to be on an interval of 5 seconds.
             * If the turn changed, the window is reload in order to refresh the DOM.
             */
            const startPolling = async () => {
                const interval = 5000;

                const executePoll = async () => {

                    fetch(`/apis/matches/${matchId}/turn`, {
                        method: 'GET'
                    }).then(function(response) {
                        if(response.ok) {
                            response.text().then(turn => {
                                if (turn !== currentTurn) {
                                    location.reload();
                                } else {
                                    setTimeout(executePoll, interval);
                                }
                            })
                        } else {
                            setTimeout(executePoll, interval);
                        }
                    });
                };

                return new Promise(executePoll);
            };
        </script>
    </head>
    <body onload="drawCheckersBoard()">
        <h1>Damas!</h1>

        <div class="content">
            <span id="turn-text"></span>
            <div id="checkers-board">

            </div>
        </div>
    </body>
</html>